In [2]:
#union and union all()

#union ->  will not  remove duplicates   --- >but in sql it will remove duplicates 

#unionall  -> will give all elements

In [5]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("ex").getOrCreate()

data1 =[(1,'mah',20),(2,'w',300)]
schema1 =['id','na','sal']
data2 = [(1,'mah',20), (3,'ma',230),(4,'wa',340)] 
schema2 =['id','na','sal']

df1 = spark.createDataFrame(data1,schema1)
df2 = spark.createDataFrame(data2,schema2)

In [6]:
newdf = df1.union(df2)  # union 
newdf.printSchema()

root
 |-- id: long (nullable = true)
 |-- na: string (nullable = true)
 |-- sal: long (nullable = true)

It will Not Remove duplicates  but in sql it will remove

In [ ]:
# same function for union all