In [19]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *
spark = SparkSession.builder.appName("get").getOrCreate()

data =[(1,'md',30),
       (2,'md',50),
       (3,'gg',3),
       (4,'prin',40),
       (5,'md',30),
       ]
sch =   ['id','name','sal']

df =spark.createDataFrame(data,sch)

df.printSchema()

print(type(df.groupBy('name')))
df.groupBy('name')

df1 = df.groupBy('name').count()

#df.groupBy('name',).max('sal')  # get two columns name  and  max sal   

#df.groupBy('name','sal')  # grouping two  simaltaneously 
# df1.show()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- sal: long (nullable = true)

<class 'pyspark.sql.group.GroupedData'>

In [ ]:
#