Createor ReplaceTemp view()

In [4]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.config("spark.driver.memory", "4g") .getOrCreate()
data = [(1,'m',30),(2,'w',44)]
sch = ['id','name','sal']
df =spark.createDataFrame(data,sch)
df.printSchema()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- sal: long (nullable = true)

In [7]:
# df.select('id','name').show(10)

In [10]:
df.createOrReplaceTempView('employess')
df2 =spark.sql('Select * from employess')
df2.printSchema()
# df2.show()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- sal: long (nullable = true)

Or U can write as

In [17]:
df.createOrReplaceTempView('employess') 
# %sql                               # ----------> Here the magic command wont work 
# Select id,upper(name) from employess

SyntaxError: invalid syntax (2083988461.py, line 3)