flat Map will is a transformation operation  that flattens rdd

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

data =['maheer b','was k']

rdd12 = spark.sparkContext.parallelize(data)

for item in rdd12.collect() :
    print(item)

maheer b
was k

we are doing split operation  using rdd---------> it will return List type

In [ ]:
rdd122 =rdd12.map(lambda x: x.split(' '))
for item in rdd122.collect():
    print(item)   # ans  ['maheer' ,'b'] and ['was','k']